bot__token=AAAAAAAAAAAA
bot__admin_id=000000000000
bot__managers=[0000000000,000000000000]

replicate__api_key=aaaaaaaaaaaaaaaaaa
replicate__image_model=aaaaaaaaaaaaaa
replicate__video_model=aaaaaaaaaaaaaaaaaa
replicate__remove_background_model=aaaaaaaaaaaaaaaaaaaaaa
replicate__add_color_model=aaaaaaaaaaaaaaaaa
